body {
  background-color: #f8f9fa;
  color: black;
}

.profile-area {
  background-color: #7BAFD4;
  color: white;
  box-shadow: -4px -4px 5px 2px #595659;
}

a,
.accordion {
  color: #13294B;
}

a:hover,
.accordion:hover {
  color: #7BAFD4;
}

.profile-area a {
  color: #13294B;
}

.profile-area a:hover {
  color: #13294B;
}

.skillbar {
  background-color: #fff;
  border: solid 1px black;
}

.skill-percent {
  background-color: #7BAFD4;
}
